<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container">
    <h1 class="mt-5">Добро пожаловать на наш сайт!</h1>
    <p>Благодарим вас за посещение нашего сайта. У нас представлен широкий выбор фильмов для вашего удовольствия.</p>
    <p>Пройдите по нашей коллекции, добавляйте фильмы в свои списки и открывайте для себя новые рекомендации.</p>
    <p>Начните свое кино-путешествие прямо сейчас!</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

