<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить жанр</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container">
    <h1>Добавить жанр</h1>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/admin/genre/save}" th:object="${genre}" method="post">
        <div class="form-group">
            <label for="name">Название жанра:</label>
            <input class="form-control" id="name" th:field="*{name}" placeholder="Название жанра">
        </div>
        <button type="submit" class="btn btn-primary">Добавить жанр</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
